.row {
	height: 100%;
}

.comment-right {
	text-align: left;
}

#add-class {
	width: 100px;
	margin-left: 15px;
}

#rating-tab {
	color: black;
}

#rating-tab:hover {
	background-color: white;
}

#hours-tab {
	color: black;
}

#hours-tab:hover {
	background-color: white;
}

#difficulty-tab {
	color: black;
}

#difficulty-tab:hover {
	background-color: white;
}

.comment-img {
	display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid black;
}

.comment-img img {
  transform: scale(1.05);
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.comment-img:hover img {
  opacity: 0.5;
}

.comment-name {
	color:black;
	position: absolute;
	margin-top:3px;
	margin-left:6px;
}

.comment-time {
	position: absolute;
	margin-top: 20px;
	margin-left: 10px;
	color: gray;
}

.skill {
	background-color: #0275D8;
}

.submit-comment {
	margin-top: 10px;
}
